@import "../../SCSS/reset";
ul {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  flex-wrap: wrap;
  li {
    list-style-type: none;
    justify-content: center;
    padding: 1rem;
    font-size: 1.3rem;

    &:hover {
      background-color: #8dddf5;
      cursor: pointer;
    }
  }
}
